<html>
<head>
    <style>
        * {
            text-align: center;
            margin: auto;
        }
        body{
            background-color: aliceblue;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['bar']});
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
            view_data =
            {{ data }}
            var data = new google.visualization.arrayToDataTable([
                ['MODEL', 'Accuracy Percentage'],
                ['lr_acc', view_data[0]],
                ['dt_acc', view_data[1]],
                ['hard_acc', view_data[2]],
                ['soft_acc', view_data[3]],
                ['rf_acc', view_data[4]]
            ]);

            var options = {
                title: 'MODEL ACCURACY',
                width: 900,
                legend: {position: 'none'},
                chart: {
                    title: 'MODEL ACCURACY',
                    subtitle: 'Ensemble comparative analysis'
                },
                bars: 'horizontal', // Required for Material Bar Charts.
                axes: {
                    x: {
                        0: {side: 'top', label: 'Percentage'} // Top x-axis.
                    }
                },
                bar: {groupWidth: "90%"}
            };

            var chart = new google.charts.Bar(document.getElementById('top_x_div'));
            chart.draw(data, options);
        };
    </script>
</head>
<body>
<br>
<div id="top_x_div" style="width: 900px; height: 500px;"></div>
</body>
</html>
